@import 'tools';

.header__menu,
.lang,
.contacts__item--tel a,
.nav__link,
.about-us__text {
  color: $main-color;
}

.contacts__item--lang .active,
.nav__link::after {
  background-color: $secondary-color;
}

.nav__link:hover,
.about-us__link:hover {
  color: $secondary-color;
}

.about-us__link,
.about-us__titlelink {
  color: $primary-color;
}

.contacts__item--address,
.about-us__text {
  @include fonts(400, 1rem, normal, normal);
}

.contacts__item--tel a,
.nav__link {
  @include fonts(700, 1rem, normal, normal);
}

.about-us__heading {
  @include fonts(700, 2.375rem, normal, normal);
}

.header {
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  background: $header-gradient;
  // overflow: hidden;

  .header__wrapper {
    background-size: 872px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../imgs/bg_photo.svg);
  }

  .header__wrapper--mod {
    background-image: none;
  }
  .container {
    margin: 0 auto;
    width: 83%;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      flex-direction: column;
    }
    .header__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0 3px;

      span {
        color: $main-color;
        @include fonts(400, 2.25rem, normal, normal);
      }
    }

    .header__menu {
      // overflow: hidden;

      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 50px;

      .header__menu-info {
        padding-bottom: 16px;

        .contacts {
          display: flex;
          align-items: center;
          gap: 6px;
          .contacts__item--lang {
            .lang {
              @include fonts(700, 0.75rem, normal, normal);
              letter-spacing: 1px;
              text-align: center;
            }
            .active {
              padding: 5px 7px;
              border-radius: 8px;
            }
          }

          .lang:hover {
            text-decoration: underline;
          }

          .contacts__item--address {
            text-align: right;
          }

          .contacts__item--tel a {
            text-align: right;
          }

          .contacts__item--tel:hover {
            text-decoration: underline;
          }

          .contacts__item--socail:hover {
            animation: shake;
            animation-duration: 1s;
          }
        }
      }

      .header__menu-nav {
        .nav__active {
          color: $secondary-color;
        }
        .nav {
          display: flex;
          justify-content: right;
          z-index: 2;
          &__item {
            padding-left: 3%;
          }
          .nav__link {
            position: relative;
            text-align: right;
            cursor: pointer;

            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 2px;
              display: block;
              margin-top: 5px;
              right: 0;
              transition: width 0.2s ease;
              -webkit-transition: width 0.2s ease;
            }
            &:hover:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .bg-photo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .bg-photo__title {
      @include fonts(700, 2.375rem, normal, normal);
      text-align: center;
      width: 100%;
      color: $main-color;
      margin-top: 361px;
      margin-bottom: 405px;
      white-space: nowrap;
    }
  }
}

.header--mod {
  background: $main-color;
  border-radius: 0;

  .header__logo--mod {
    color: #323264;
  }
}

.tab-block {
  width: 100%;
  padding: 0 15%;
  margin-top: 60px;
  overflow: hidden;
}

.flex-column {
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  padding-right: 5%;
  white-space: nowrap;
  align-items: flex-end;
}

.about-us__container {
  overflow: hidden;
  padding-top: 60px;
  display: flex;
  flex-direction: column;

  .about-us__link {
    @include fonts(700, 0.875rem, normal, normal);

    display: inline-block;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $secondary-color;
      path {
        stroke: $secondary-color;
      }
    }
  }

  .about-us__heading {
    background: $about-us-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-us__info {
    border-top: 4px solid rgba(255, 255, 255, 0.5);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .about-us__list-heading {
      color: $main-color;
      @include fonts(700, 1.375rem, normal, normal);
      padding-bottom: 30px;
    }
    .first__list {
      padding-right: 60px;
    }

    .first__list,
    .second__list {
      width: 50%;
      list-style: url('../imgs/circle.svg');
    }

    .first__item,
    .second__item {
      color: $main-color;
      padding-bottom: 15px;
      @include fonts(400, 1.125rem, normal, 26px);
    }
  }

  .about-us__flexinfo {
    display: flex;
    text-align: left;
  }

  .list-heading {
    @include fonts(700, 1.375rem, normal, normal);
    color: $main-color;
  }

  .about-us__block {
    padding: 60px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .about-us__item {
      padding: 0 8% 60px 0;
      .about-us__img {
        background-color: $main-color;
        display: inline-block;
        padding: 14px;
        border-radius: 24px;
        margin-bottom: 30px;
      }

      .about-us__titlelink {
        @include fonts(700, 1.375rem, normal, normal);
        margin-bottom: 15px;
        display: block;
      }

      .about-us__title {
        @include fonts(700, 2.375rem, normal, normal);
        background: $tab-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 28px;
      }

      .about-us__text {
        line-height: 26px;
      }

      .about-us__text span {
        display: block;
        margin-top: 30px;
        margin-bottom: 58px;
      }
    }

    .about-us__item--spec,
    .about-us__item--mod {
      padding: 0;
    }

    .about-us__item--spec {
      padding-bottom: 90px;
    }
  }
  .about-us__block--mod {
    margin: 0 auto;
    width: 71%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 28px;

    .about-us__btn {
      text-align: center;
      padding: 18px 15%;
      margin-bottom: 60px;
      border-radius: 12px;
      background: #24a3ff;
      box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
      @include fonts(700, 1rem, normal, normal);
      color: $main-color;

      &:hover {
        background: #0085ff;
        box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
      }

      &:active {
        background: #006ccf;
        box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
      }
    }
  }
}

.header__line::before {
  @include line_style(
    '',
    block,
    relative,
    -20px,
    1.5%,
    97%,
    10px,
    0px 0px 12px 12px,
    #cacadb
  );
  // z-index: 133;
}

.header__line::after {
  @include line_style(
    '',
    block,
    relative,
    -20px,
    3%,
    94%,
    10px,
    0px 0px 12px 12px,
    #e7e7f2
  );
}

@media screen and (max-width: 1440px) {
  .header {
    .container {
      width: 92%;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .bg-photo__container {
      .bg-photo__title {
        width: 100%;
        white-space: wrap;
      }
    }
    .header__wrapper {
      .header__container {
        .header__menu {
          position: absolute;
          left: 60px;
          .header__menu-info {
            padding-bottom: 120px;
          }
        }
        .header__logo {
          position: absolute;
          top: 60px;
          left: 60px;
        }
        .header__menu-nav {
          .nav {
            justify-content: flex-start;
            .nav__item {
              padding-left: 0;
              margin-right: 3%;
            }
          }
        }
      }
    }

    .about-us__block--mod {
      margin-top: 150px;
    }
  }

  .about-us__container {
    .about-us__block {
      grid-template-columns: 1fr 1fr;
    }
  }
  .about-us__container--mod {
    padding-top: 250px;
  }

  @media screen and (max-width: 375px) {
    .about-us__container--mod {
      padding-top: 250px;
    }
    .header {
      .about-us__block--mod {
        margin-top: 0;
        padding-top: 0;
      }
      .burger__menu {
        display: flex;
        justify-content: flex-end;

        .menu-btn {
          width: 30px;
          height: 30px;
          position: relative;
          z-index: 2;
          overflow: hidden;
          margin-top: 70px;
          margin-right: 30px;
        }

        .menu-btn span {
          width: 30px;
          height: 2px;
          // margin-top: 5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $main-color;
          transition: all 0.5s;
        }

        .menu-btn span:nth-of-type(2) {
          top: calc(50% - 5px);
        }
        .menu-btn span:nth-of-type(3) {
          top: calc(50% + 5px);
        }

        .menu-btn.active span:nth-of-type(1) {
          display: none;
        }
        .menu-btn.active span:nth-of-type(2) {
          top: 50%;
          transform: translate(-50%, 0%) rotate(45deg);
        }
        .menu-btn.active span:nth-of-type(3) {
          top: 50%;
          transform: translate(-50%, 0%) rotate(-45deg);
        }
      }

      .header__menu-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: $main-popup-color;
        transform: translateX(-100%);
        transition: transform 0.5s;

        .nav {
          margin-top: 50px;
          flex-direction: column;
          justify-content: space-around;
        }
        .nav__link {
          font-size: 2.625rem;
        }
      }

      .header__menu-nav.active {
        transform: translateX(0);
        display: flex;
      }

      .header__menu-nav li {
        list-style-type: none;
      }

      .bg-photo__container {
        .bg-photo__title {
          width: 70%;
        }
      }
      .container {
        width: 100%;
      }
      .header__wrapper {
        width: 100%;
        margin: 0 auto;
        .header__container {
          .header__menu {
            width: 100%;
            padding-top: 0;
            position: inherit;
            .header__menu-info {
              background: rgba(245, 245, 250, 0.2);
              padding: 10px 15px;

              width: 100%;
              .contacts__item--dot,
              .contacts__item--address,
              .contacts__item--socail {
                display: none;
              }
              .contacts {
                display: flex;
                justify-content: space-between;
              }
            }
          }
          .header__logo {
            position: absolute;
            left: 15px;
            top: 15px;
          }
        }
        .about-us__container {
          width: 84%;
        }
      }
    }

    .about-us__container {
      .about-us__block {
        grid-template-columns: 1fr;
      }
    }
  }
  .about-us__info {
    .about-us__list-heading {
      text-align: left;
    }
    .about-us__flexinfo {
      flex-direction: column;
      .second__list,
      .first__list {
        width: 100%;
        padding: 0;
      }
    }
  }
}
