// Colors
$main-color: #fff;
$secondary-color: #f0145a;
$additional-color: #b3b3ba;
$primary-color: #24a3ff;
$uncommon-color: #f5f5fa;
$rare-color: #e6e6f0;
$main-popup-color: rgba(50, 50, 100);

// BG COLORS GRADIENT
$header-gradient: linear-gradient(
  229deg,
  $main-popup-color 11.93%,
  $main-popup-color 57.17%,
  #643e72 87.46%
);

$tab-gradient: -webkit-linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%);

$about-us-gradient: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
